[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
python-dotenv = "*"
google-cloud-speech = "*"
google-auth = "*"
flask = "*"
pytest = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.12"
