[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
flask = "*"
python-dotenv = "*"
pymongo = "*"
certifi = "*"
blinker = "*"
click = "*"
flask-debugtoolbar = "*"
flask-login = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
werkzeug = "*"
dnspython = "*"
bson = "*"
requests = "*"
ffmpeg-python = "*"

[dev-packages]
pylint = "*"

[scripts]
lint = "pylint web-app"

[requires]
python_version = "3.12"
